.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background:linear-gradient(0turn, #be2600, rgb(255, 123, 0));  #000000b0 */
    /* background-image: url("https://img.freepik.com/foto-gratis/sabrosa-composicion-pizza-tradicional_23-2148921302.jpg?w=740&t=st=1689051928~exp=1689052528~hmac=87a9ff5af5be55f77270a44fe924dacff1ba42f1e7b352335a6bd4cf5c62e77c");
    background-image: url("https://img.freepik.com/vector-gratis/papel-pintado-mural-restaurante_23-2148703851.jpg?w=740&t=st=1689052930~exp=1689053530~hmac=fed3ba6230ff00f9233708fad4bf13ec2bc3612e802df99b8ce7aca7916fe026"); */
    /* background-image: url("https://img.freepik.com/vector-gratis/papel-pintado-mural-restaurante_23-2148695092.jpg?t=st=1689053104~exp=1689053704~hmac=2d32e3a2fea975074efefa1bcc8f7a278b87bd09cb914619ef860076559eb8ef"); */
    /* background-size: cover; */
}

.allFilters{
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    font-weight: 600;
}

.allFilters option{
    color: black;
    font-weight: 600;
}


.filterDiets{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    align-items: center;
}

.dietsOptions{
    display: flex;
    gap: 1rem;
    color: white;
    font-size: 1em;
    background-color: #000000a3;
}



.allFilters select{
    background-color: #ffffff;
    color: black;
    text-align: center;
    outline: none;
    cursor: pointer;
    border-radius: .2rem;
    font-size: 1em;
    font-weight: 600;
}

.dietsSelec{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    white-space: nowrap;
    gap: 1rem;
    justify-content: center;
}

.diet{
    display: flex;
    flex-direction: row;
    font-size: .5em;
    background-color: #000000a3;
    color: white;
    gap: .8rem;
    border: solid 1px white;
    border-radius: 5px;
    padding-left: .7rem;
    transition: all .3s;
    cursor: context-menu;
}

.diet button{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    width:1rem;
    right: 0;
    border: none;
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
}

.diet:hover{
    transform: scale(1.1);
}

.filterTwo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.filterTwo > div{
    width: auto;
    display: flex;
    gap: 1rem;
}

.filterTwo > div > div > label{
    background-color: transparent;
    border: .2rem solid white ;
    color: rgb(255, 255, 255);
    padding: .8rem;
    cursor: pointer;
    font-weight: 600;
    font-family: Inter;
}

.filterTwo > div > div > input[type="radio"]{
    display: none;
}

.filterTwo > div > div > input[type="radio"]:checked + label{
    background-color: rgb(255, 255, 255);
    color: black;
}

.filterTwo > div > div:hover{
    transform: scale(1.1);
    transition: all .3s;
}

