.container{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 30px;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.button{
    font-size: 1em;
    font-weight: 900;
    width: 40px;
    padding: 3px;
    background-color: white;
    color: #0b0149;
    border: none;
    border-radius: .5rem;
}

.button:hover{
    border-bottom: solid .3rem #0b0149;
    cursor: pointer;
}

.isActive{
    background-color: #0b0149;
    color: white;
}

.mov{
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    background-color: #0b0149;
    color: white;
    cursor: pointer;
    transition: all .15s;
}

.mov:hover{
    transform: scale(1.1);
}