.container{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 30px;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.button{
    font-size: 1em;
    font-weight: 900;
    width: 40px;
    padding: 3px;
    background-color: white;
    color: #0b0149;
    border: none;
}

.button:hover{
    border-bottom: solid .3rem #0b0149;
    cursor: pointer;
}