.nav{
    display: flex;
    flex-direction: row;
    height: 11rem;
    width: 100%;
    background: linear-gradient(0turn, #0000003b, #000000d1);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav .navButton{
    width: 9rem;
    height: 2.5rem;
    border: solid .1rem white;
    border-radius: 5px;
    background-color:transparent;
    color:  rgb(255, 255, 255);
    cursor: pointer;
    transition: all .3s;
    font-size: 1.25em;
    font-weight: 800;
}

.navButton:hover{
    background-color: rgb(0 0 0 / 42%);
    transform: scale(1.05);
}

